<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main menu header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="https://icons-for-free.com/iconfiles/png/512/business+costume+male+man+office+user+icon-1320196264882354682.png" alt="sanjeet" 
                            class="img-fluid" title="sanjeet singh">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>I am A <span>MERN Stack Developer</span>YouTuber And Student</p>
                        <a href="/" >
                            <button>About Us</button>
                            </a>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>
</html>